extends layout

block content
    form(action='/projects' method='post')
        p Ime:
            input(type='text', name='name')
        p Opis:
            input(type='text', name='description')
        p Cijena:
            input(type='number', name='price')
        p Napravljeno:
            textarea(name='workdone')
        p Pocetak:
            input(type='date', name='start')
        p Kraj:
            input(type='date', name='end')
        p
            input(type='submit' name='submit' value='Posalji')